{% extends "base.html" %}

{% load static %}

{% load nvd3_tags %}

{% block css %}
{{ block.super  }}

<link media="all" href="{% static 'nvd3/build/nv.d3.css' %}" type="text/css" rel="stylesheet" />

{% endblock %}

{% block javascript %}

{{ block.super }}

<script type="text/javascript" src='{% static 'd3/d3.min.js' %}'></script>
<script type="text/javascript" src='{% static 'nvd3/build/nv.d3.min.js' %}'></script>

<script type="text/javascript">

var gender;
var age;
var activity;
var diet;
var postcode;

$(document).ready(function() {

	var json_url = '/diagnosis/admissions/age/primary/' + '16-24';

	d3.json(json_url, function(data) {
		nv.addGraph(function() {
			var chart = nv.models.stackedAreaChart()
				.x(function(d) { return d[0] })
				.y(function(d) { return d[1] })
				.showControls(false)
				.showLegend(false)
				.clipEdge(true);

			if(age == '0-16') {
				chart.color(['#000000'])
			} else if(age == '16-24') {
					chart.color(['#337ab7'])
			} else if(age == '25-34') {
				chart.color(['#5cb85c'])
			} else if(age == '35-44') {
				chart.color(['#862197']) 
			} else if(age == '45-54') {
				chart.color(['#f0ad4e']) 
			} else if(age == '55-64') {
				chart.color(['#d9534f']) 
			} else if(age == '65-74') {
				chart.color(['#d9534f']) 
			} else if(age == '75+') {
				chart.color(['#d9534f']) 
			}

			chart.xAxis.tickFormat(function(d) {
				return d3.time.format('%Y')(new Date(d))
			});

			// Chart setup TODO

			d3.select('#c-age svg')
				.datum(data)
				.call(chart);

			$('#s-age').text(data[0].summary)

			nv.utils.windowResize(chart.update);

			return chart;
		});
	});

});


</script>

{% endblock %}

{% block content %}


<div class="row">
    <div class="col-md-8">
		<span class="center-block" style="font-weight: bold; text-align: center;">Obesity By Age</span>
		<div id="c-age">
			    <svg style="height: 500px;"></svg>
		</div>
	</div>
</div>

{% endblock %}
